name: Test Self-Hosted Runner

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: [self-hosted, Windows, X64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print message
        run: echo "Hello from self-hosted runner!"